@use '../../App' as *;

.profileInfo {
  margin: 0px 20px;
  height: 100%;
  border: 4px solid $main-green;
  border-radius: 10px;
  color: $main-green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top-block {
    margin: 10px;
    height: 10vh;
    display: flex;
    align-items: center;

    .initial-block {
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main-green;
      border-radius: 5px;
      
      p {
        margin-top: 10px;
        color: $off-white;
        font-size: 25pt;
      }
    }
    .names {
      margin-left: 10px;
      line-height: 1.7;
    }
  }
  .bottom-block {
    margin: 0px 10px;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .stats {
      h5 {
        margin: 14px 0px;
        font-size: 14pt;
      }
    }
    .bookshelf-button-block {
      display: flex;
      align-items: center;
      flex-direction: column;
      p {
        margin-top: 5px;
        font-size: 10pt;
        text-align: center;
      }
      .bookshelf-button {
        height: 80px;
        width: 80px;
        border: 4px solid $main-green;
        border-radius: 10px;
        background-color: $main-green;
        display: flex;
        align-items: center;
        justify-content: center;

        .bookshelf-icon {
          height: 60px;
          width: 60px;
          background-image: url(../../assets/bookshelf-icon.png);
          background-repeat: round;
        }
      }
    }
  }
}
