@import '../../App.scss';

.faq-page-grand-wrapper {
  margin-top: 90px;
  height: calc(100vh - 90px);
  .question-list {
    margin: 5px;
    width: 100%;
    height: 76vh;
    border-radius: 0 0 100px 100px;
    overflow: scroll;
    color: $main-green;

    .question-block {
      .question-text {
        font-style: italic;
      }
      .answer-text {
        margin: 0 2% 20px 10%;
        width: 88%;
        line-height: 2;
      }
    }
    .blank {
      width:100%;
      height: 11vh;
    }
  }
  .faq-page-footer {
    margin-top: 2vh;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
