@import '../../../App.scss';

.details-info-grand-wrapper {
  margin-left: 5%;
  width: 90%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  border: 4px solid $main-green;
  border-radius: 15px;
  overflow-y: scroll;
  color: $main-green;

  .details-info-top-block {
    margin: 10px 5px 0 10px;
    height: 200px;
    display: flex;
    .cover-art {
      border: 1px solid $main-green;
      height: 180px;
      min-width: 120px;
      max-width: 200px;
    }
    .not-found {
      color: rgb(91, 91, 91);
      text-align: center;
      font-size: 14pt;
      > p {
        margin-top:35px;
      }
    }
    .top-block-text {
      margin: 0 0 0 5px;
      max-height: 180px;
      overflow-y: scroll;
      h2 {
        font-size:16pt;
        margin-top: 5px;
      }
    }
  }
  .extra-info {
    
    .extra-info-text {
      margin-bottom: 5px;
      text-align: center;
      font-style: italic;
      font-size: 14pt;
    }
    .summary-text {
      margin: 18px 0 0 3px;
    }
  }
}