@import '../../../App.scss';

.pending-item-grand-wrapper {
  margin: 0px 0px 15px 0px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 4px solid $main-green;
  border-radius: 10px;
  background-color: rgba(255,255,255,.7);
  color: $main-green;

  .cover-art {
    margin: 5px 10px 5px 5px;
    border: 1px solid $main-green;
    height: 80px;
    min-width: 50px;
    max-width: 70px;
  }
  .not-found {
    color: rgb(91, 91, 91);
    text-align: center;
    font-size: 10pt;
    > p {
      margin-top:5px;
    }
  }
  .pending-text {
    h4 {
      margin-left: 15px;
      font-weight: normal;
    }
    p {
      margin-top: 10px;
      font-size: 10pt;
      font-style: italic;
    }
  }
}