@use '../../../App' as *;

.search-result-item-grand-wrapper {
  margin: 15px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 4px solid $main-green;
  border-radius: 10px;
  background-color: rgba(255,255,255,.7);
  color: $main-green;

  .cover-art {
    margin: 5px 10px 5px 5px;
    height: 80px;
    min-width: 50px;
    max-width: 70px;
    border: 1px solid $main-green;
  }
  .not-found {
    color: rgb(91, 91, 91);
    text-align: center;
    font-size: 10pt;
    > p {
      margin-top:5px;
    }
  }
  .result-item-text {
    height: 90%;

    > h2 {
      font-weight: normal;
      font-size: 16pt;
    }
    > h3 {
      margin-left: 10px;
      font-weight: normal;
      font-size: 12pt;
    }
    > p {
      margin-top: 15px;
      font-size: 10pt;
      font-style: italic;
    }   
  }
}
  