@import '../../App.scss';

.bookshelf-grand-wrapper {
  margin-top: 90px;
  height: 87vh;
  width: 100%;

  .bookshelf-list {
    width: 100%;
    height: 78vh;
    border-radius: 0px 0px 100px 100px;
    overflow-y: scroll;
  }
  .bookshelf-footer-wrapper {
    height: 7vh;
    width: 100%;
  }
}
