@use '../../App' as *;

.landingText {

  h3 {
    margin: 5px 20px 20px;
    letter-spacing: 1.6pt;
  }
  .bookmoochTitle {
    margin-left: 5px;
    letter-spacing: 1.6pt;
  }
  .goTitle {
    margin: -10px 0 0 5px;
    letter-spacing: 1.6pt;
    align-items: center;
    justify-content: center;
    display: flex;

    .goText {
      margin: 10px 0 0 5px;
    }
  }
}