@use '../../../App' as *;

.user-button-wrapper {
  margin: 15px 5px 0px 5px;
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .user-button {
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 5px;
    background-image: url(../../../assets/user-icon.png);
    background-repeat: round;

    &:focus {
      outline: none;
    }
  }

  p {
    margin-top: 5px;
    color: $off-white;
    font-size: 10pt;
  }

}