@import '../../App.scss';

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-left: 25%;
  
  label {
    align-self: flex-start;
    font-size: 14px;
    margin-top: 10px;
    color: $main-green;
  }
  input {
    width: 50vw;
    height: 1.5em;
    font-size: 1.3em;
    text-align: center;
    color: $dark-green;
    border: 1px solid $main-green;
    border-radius: 5px;

    &:focus {
      outline: none;
      border: 2.5px solid $main-green;
    }
  }
  a {
    width: 100%;
  }
  button {
    flex-shrink: 0;
    height: 50px;
    width: 80%;
    margin-top: 30px;
    font-size: 1.25em;
    font-weight: bold;
    background-color: $main-green;
    color: $off-white;
    border: none;
    border-radius: 10px;

    > p {
      margin-top: 6px;
    } 

    &:focus {
      outline: none;
    }
    &:active {
      background-color: adjust-color($color: $main-green, $lightness: 15%);
    }
  }
}
