@import '../../../App.scss';

.search-button-wrapper {
  margin: 15px 5px 0px 5px;
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .search-button {
    height: 40px;
    width: 40px;
    background-image: url(../../../assets/search-icon.png);
    background-repeat: round;
    border: none;

    &:focus {
      outline: none;
    }
  }

  p {
    margin-top: 5px;
    font-size: 10pt;
    color: $off-white;
  }
}