@import '../../App.scss';

.landing {
  height: 100vh;
  color: $main-green;
  text-align: center;

  .logo {
    margin-top: 80px;
    height: 150px;
    width: 150px;
  }
  .welcome-text-wrapper {
    margin: 9vh;
  }
  button {
    padding: 20px 35px 17px;
    border: none;
    border-radius: 10px;
    background-color: $main-green;
    color: $off-white;
    font-size: 1.25em;
    font-weight: bold;
    &:focus {
      outline: none;
    }
    &:active {
      background-color: adjust-color($color: $main-green, $lightness: 15%);
    }
  }
  .footerLogin {
    margin-top: 21.7vh;
    color: $off-white;
    a {
      color: $off-white;
      font-weight: bold;
    }
  }
}

