@use '../../../App' as *;

.bookshelf-item-grand-wrapper {
  margin: 15px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 4px solid $main-green;
  border-radius: 10px;
  background-color: rgba(255,255,255,.7);
  
  > a {
    width: 80%;
    color: $main-green;
    display: flex;
    align-items: center;
  }

  .cover-art {
    margin: 5px 10px 5px 5px;
    border: 1px solid $main-green;
    height: 80px;
    min-width: 50px;
    max-width: 70px;
  }
  .not-found {
    color: rgb(91, 91, 91);
    text-align: center;
    font-size: 10pt;
    > p {
      margin-top:5px;
    }
  }
  .center-text {
    margin-top: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    .author {
      font-weight: normal;
    }
    .listed-on {
      margin-top: 15px;
      font-size: 11pt;
      font-style: italic;
      font-weight: normal;
    }
  }
  .remove-button-block {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $main-green;

    .remove-button {
      margin-bottom: 8px;
      height: 40px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 5px;
      background-color: $main-green;
      &:focus {
        outline: none;
      }
      &:active {
        background-color: adjust-color($color: $main-green, $lightness: 10%);
      }

      .remove-icon {
        height: 15px;
        width: 15px;
        background-image: url('../../../assets/reject-icon.png');
        background-repeat: round;
      }
    }
  }
}
