@import '../../App.scss';

.main-header {
  height: 80px;
  width: 100%;
  min-width: 320px;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $off-white;

  h1 {
    color: $main-green;
    font-size: 28px;
  }
  .logo {
    margin: 10px;
    height: 60px;
    width: 60px;
    justify-self: flex-start;
    align-self: flex-start;
    flex-shrink: 0;
  }
  .title {
    margin: auto 5px;
    flex-grow: 1;
    text-align: center;
  }
}